hr {
    border-color: #0066ff;
    border-top-width: 2px;
    padding-bottom: 4px;
}

.hr-white {
    border-color: #ffffff;
}

.form-title {
    font-size:xx-large; 
    color:#0066ff; 
    text-align:center;
}

.container-botom-margin {
    margin-bottom: 30px
}

.nav-links-mr-pd{
    padding-left: 0px;
    margin-left: 0px;
}

footer{
    text-align: center
}